<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulsar GUI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/regular.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/solid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pulsar.css') }}">
</head>
<body>
    {% block content %}{% endblock %}
    
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pulsar.js') }}"></script>
</body>
</html>
